body {
    margin: 0 ;
    padding: 0;
    background: url() no-repeat center top;
    font-family: sans-serif;
    background-size: 120%;
    height: 100vh;
  }

  .banner{
      width: 100%;
      height: 150%;
      opacity: 80%;
  }
  
  .login-box {
    width: 500px;
    height: 550px;
    color: #fff;
    top: 80%;
    left: 50%;
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 3px solid #AAC42A;
    padding: 80px 40px;
    border-radius: 50px;
  }
  
  .login-box .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(40% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 30px;
    color: #AAC42A;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    color: #AAC42A;
    font-weight: bold;
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  .login-box ::placeholder{
    color: #AAC42A;
    opacity: 40%;
  }
  
  .login-box input[type="text"], .login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #AAC42A;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #AAC42A;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #AAC42A;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  .login-box p{
    color: black;
  }
  
